<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Showcase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>494979201F672BF4005DB65C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494979341F672BF5005DB65C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4949793F1F672BF6005DB65C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
